.i-cart {
    height: 36px;
    width: 36px;
    background-image: url('../../icons/shopping-bag.svg');
}

.i-cart-sm {
    height: 30px;
    width: 30px;
    background-image: url('../../icons/shopping-bag-sm.svg');

    &:hover {
        background-image: url('../../icons/shopping-bag-sm-active.svg');
    }
}

.i-favorite {
    height: 36px;
    width: 36px;
    background-image: url('../../icons/heart.svg');
}

.i-favorite-sm {
    height: 30px;
    width: 30px;
    background-image: url('../../icons/heart-sm.svg');

    &:hover {
        background-image: url('../../icons/heart-sm-active.svg');
    }
}

.i-search {
    height: 36px;
    width: 36px;
    background-image: url('../../icons/search.svg');
}

.i-chevron {
    height: 8px;
    width: 14px;
    background-image: url('../../icons/chevron-down.svg');
}

.i-instagram {
    width: 40px;
    height: 40px;
    background-image: url('../../icons/instagram.svg');
}

.i-facebook {
    width: 20px;
    height: 40px;
    background-image: url('../../icons/facebook.svg');
}

.i-twitter {
    width: 49px;
    height: 40px;
    background-image: url('../../icons/twitter.svg');
}

.i-chevron-accordion {
    width: 16px;
    height: 9px;
    background-image: url('../../icons/chevron-down-filled.svg');
}

.i-checker {
    width: 16px;
    height: 9px;
    background-image: url('../../icons/checker.svg');
}

.i-close {
    width: 16px;
    height: 9px;
    background-image: url('../../icons/close.svg');
}