// Reset styles & fonts
@import "./assets/styles/reset.css";
@import "./assets/fonts/fontFace.css";

// Helpful resolves
@import "./assets/styles/variables.scss";
@import './assets/styles/mixins.scss';
@import "./assets/styles/helpClasses.scss";

//Modules
@import "./assets/styles/modules/header.scss";
@import "./assets/styles/modules/footer.scss";
@import "./assets/styles/modules/products.scss";

// Components
@import "./assets/styles/components/buttons.scss";
@import "./assets/styles/components/icons.scss";
@import "./assets/styles/components/card.scss";
@import "./assets/styles/components/filters.scss";

// GlobalStyles
html {
  font-size: $fontSize + px;
}

header {
  background-color: $white-color;
}

div,
main,
header,
input {
  box-sizing: border-box;
}

input {
  display: block;
}

h1,
h2,
h3 {
  color: $headlines-color;
  font-family: 'latoregular';
}

p {
  font-family: 'latoregular';
}

i {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  color: unset;
  font-family: 'latoregular';
  text-decoration: unset;
}

button {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Main
.welcome {
  height: calcVh(910);
  margin-top: -3rem;
  margin-bottom: calcVh(100);
  position: relative;
  background-image: url('./assets/pictures/main-back.min.jpeg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 6px #00000029;

  .card {
    width: calcPctW(478);
    position: absolute;
    left: calcPctW(60);
    bottom: calcVh(48);
  }

  .card__actions {
    button {
      padding: .8rem calcRem(98);
      font-size: calcRem(20);
      background-color: transparent;
    }
  }

  h2 {
    font-size: calcRem(60);
  }
}

.collections {

  h2 {
    font-size: calcRem(60);
    text-transform: uppercase;
  }

  >h2 {
    margin-bottom: calcVh(144);
    text-align: center;
  }

  &__cards {
    @extend .flex-wrap,
    .flex-sa;
  }
}



.authForm {
  width: 50%;
  margin: 0 auto;

  &__title {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
  }

  &__inputs {
    @extend .flex-wrap;
    width: 100%;

    input {
      width: 100%;
      margin-bottom: 1rem;
    }

    button {
      width: 30%;
      margin: 0 auto;
    }
  }
}

.sidebar {
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
  opacity: .6;
  background-color: $orange-color;

  &__navigation {
    @extend .flex-sa;

    h3 {
      color: $white-color;
      text-transform: uppercase;
    }

    ul {
      position: absolute;
      background-color: $orange-color;
    }
  }
}