@import "./assets/styles/reset.css";
@import "./assets/styles/helpClasses.scss";

$primary-color: #d19a34;
$primary-d: #a77a27;
$primary-l: #e0ae4f;

$card-color: #5f5959;
$grey-color: #cecdcd;
$grey2-color: #dfdfdf;

$headlines-color: #292929;
$text-color: #393939;

// GlobalStyles
body {
  background-color: $grey-color;
}
header {
  background-color: $card-color;
}
main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  padding: 2rem 5rem;
}
div,
main,
header,
input {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: $headlines-color;
}
p {
  color: $text-color;
}
input,
button {
  border: 2px $primary-color solid;
  outline: none;
  padding: 0.5rem;
  &:focus {
    border: 2px $primary-d solid;
  }
  &:active {
    border: 2px $primary-l solid;
  }
}
button {
  text-transform: uppercase;
}
img {
  width: 100%;
}

// Header
.header {
  @extend .flex-c-sb;
  padding: 1rem 2rem;
  height: 10vh;
  color:$grey2-color;
  p{
    color:$grey2-color;
  }
  &__logo {
    width: 10%;
    img {
      min-width: 100px;
    }
  }
  &__cart {
    @extend .flex-wrap;
    p {
      margin-right: 1rem;
    }
  }
}
.userMenu {
  width: 10%;
  padding: 1rem;
  margin-top: 2vh;
  margin-left: -2%;
  position: absolute;
  color:$text-color;

  background-color: $grey-color;
  border: 2px $primary-color solid;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border: 10px transparent solid;
    border-bottom: 10px $primary-color solid;
    box-sizing: border-box;
  }
  ul{
      margin-bottom: 2vh;
  }
}

// Main & Wrapper
.wrapper {
  height: 90vh;
  @extend .flex-wrap;
}
.authForm {
  width: 50%;
  margin: 0 auto;
  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  &__inputs {
    @extend .flex-wrap;
    width: 100%;
    // display: block;

    input {
      width: 100%;
      margin-bottom: 1rem;
      // &:last-of-type{
      //     margin-bottom: 0;
      // }
    }
    button {
      width: 30%;
      margin: 0 auto;
    }
  }
}
.sidebar {
  width: calc(20% - 1px);
  padding: 1rem 2rem;
  background-color: $grey2-color;
  border-right: 1px $primary-d solid;
  &__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &__navigation {
    ul {
      margin-bottom: 0.5rem;
      li {
        margin-bottom: 0.3rem;
        h3 {
          font-size: 0.8rem;
          text-indent: 0.2rem;
        }
      }
    }
  }
}

.productsList {
  @extend .flex-wrap;
  .card {
    width: 30%;
    padding: 1rem;
    background-color: $card-color;
    &__title {
      font-size: 1.2rem;
    }
  }
}
