// @mixin center-block {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//   }
@function calcRem($sizePx) {
  $remSize: $sizePx / $fontSize;
  @return #{$remSize}rem;
}

@function calcVh($sizePx) {
  $vhSize: ($sizePx / $vh) * 100vh;
  @return #{$vhSize};
}

//Calculation of percent by width
@function calcPctW($sizePx, $width:$vw) {
  $percent: ($sizePx / $width)*100%;
  @return #{$percent};
}

@mixin pseudo($display: block, $content: '') {
  content: $content;
  display: $display;
}