// Colors
$primary-color: #d19a34;
$primary-d: #a77a27;
$primary-l: #e0ae4f;

$card-color: #5f5959;
$grey-color: #cecdcd;
$grey2-color: #dfdfdf;

$headlines-color: #292929;
$text-color: #393939;
//////////////////////////
$promo-back:#D4D3D1;
$white-color: #FFFFFF;
$orange-color:#F5907C;

// Sizes
$fontSize:16;
$vh:1080;
$vw:1920;